@charset "UTF-8"

:root{
    
/* CSS HEX */   
--engineering-orange: #ba2d0bff;
--pomp-and-power: #966b9dff;
--dark-slate-gray: #1c5253ff;
--dark-purple: #310a31ff;
--goldenrod: #d19c1dff;

}h1{
    font-size: 40px;
    font-weight: 700;
    text-align: center;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
}